BasedOnStyle: LLVM
ColumnLimit: 100
PointerAlignment: Right
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^<'
    Priority: 1
  - Regex:    '^"'
    Priority: 2