/dts-v1/;

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	compatible = "tinyvm";

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "riscv";
			reg = <0>;
			riscv,isa = "rv64imafd";
			mmu-type = "riscv,sv39";

			cpu0_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				interrupt-controller;
				#interrupt-cells = <1>;
			};
		};
	};

	memory@7f000000 {
		device_type = "memory";
		reg = <0x0 0x7f000000 0x0 0x10000000>; // 256MB at 0x7f000000
	};

	chosen {
		bootargs = "console=ttyS0 earlycon keep_bootcon";
		stdout-path = "/soc/uart@10000000";
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		clint@2000000 {
			compatible = "riscv,clint0";
			reg = <0x0 0x2000000 0x0 0x10000>;
			interrupts-extended = <&cpu0_intc 3 &cpu0_intc 7>;
		};

		uart@10000000 {
			compatible = "ns16550a";
			reg = <0x0 0x10000000 0x0 0x8>;
			clock-frequency = <0x384000>;
		};
	};
};
